<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
        <title>Fruitables - Vegetable Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <th:block th:replace="common/common :: libFragment"></th:block>
        <link rel="stylesheet" href="../static/css/board.css">
</head>
<body>
	<!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- Navbar End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Board</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">board</li>
        </ol>
    </div>
    <!-- Single Page Header End -->

	<form id="boardSaveForm">
		<table class="table">
	    	<tr>
	    		<th scope="col" style="width:80px">
	    			<label for="formGroupExampleInput" class="form-label">작성자</label>
	    		</th>
	            <td>
	            	<input type="text" name="userId">
	            </td>
	    	</tr>
	    	<tr>
	    		<th scope="col" style="width:80px">
	    			<label for="formGroupExampleInput" class="form-label">제목</label>
	    		</th>
	            <td>
	            	<input type="text" name="title" style="width:600px">
	            </td>
	    	</tr>
	    	<tr>
	    		<th scope="col" style="width:80px">
	    			<label for="formGroupExampleInput" class="form-label">내용</label>
	    		</th>
	            <td>
	            	<textarea name="content" class="form-control" id="floatingTextarea2" style="width: 100%; height: 300px"></textarea>
	            </td>
	    	</tr>
       	</table>
     	
       	<div class="text-center">
		   <input type="submit" value="작성" class="btn btn-outline-secondary">
		</div>
	</form>
	
	<div class="text-end">
		<a href="/b/boardtest/list" class="btn btn-outline-secondary">목록으로</a>
	</div>
	
</body>
</html>