<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Fruitables - Vegetable Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- <th:block th:replace="common/common :: libFragment"></th:block> -->
        <th:block th:replace="common/common"></th:block> 
        <link rel="stylesheet" href="/css/board/edit.css">
    </head>
	<body>
		<!-- Spinner Start -->
		<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
			<div class="spinner-grow text-primary" role="status"></div>
		</div>
		<!-- Spinner End -->

		<!-- Navbar start -->
		<th:block th:replace="common/header :: headerFragment"></th:block>
		<!-- Navbar End -->

		<!-- Single Page Header start -->
		<div class="container-fluid page-header py-5">
			<h1 class="text-center text-white display-6">Board</h1>
			<ol class="breadcrumb justify-content-center mb-0">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Pages</a></li>
				<li class="breadcrumb-item active text-white">board</li>
			</ol>
		</div>
		<!-- Single Page Header End -->

		<!-- board start -->
        <div class="container-fluid testimonial py-5">
            <div class="container py-5">
                <div class="container" style="max-width: 1000px">
					<div class="notice-header text-center">
                        <h1 class="display-5 mb-5 text-dark">공지사항</h1>
                    </div>

                    <form id="boardSaveForm">
						<table class="table">
							<tr>
								<th scope="col" style="width:80px; line-height: 2;">
									<label for="userId" class="form-label">작성자</label>
								</th>
								<td>
									<input type="text" name="userId" class="form-control" id="userId" style="width:200px">
								</td>
							</tr>
							<tr>
								<th scope="col" style="width:80px; line-height: 2;">
									<label for="title" class="form-label">제목</label>
								</th>
								<td>
									<input type="text" name="title" class="form-control" id="title" style="width:600px">
								</td>
							</tr>
							<tr>
								<th scope="col" style="width:80px">
									<label for="content" class="form-label">내용</label>
								</th>
								<td>
									<textarea name="content" class="form-control" id="content" style="width: 100%; height: 300px"></textarea>
								</td>
							</tr>
						</table>
					</form>
					<div class="text-center">
						<input type="submit" value="작성" class="btn btn-outline-secondary">
					</div>

					<div class="text-end">
						<a href="/board" class="btn btn-outline-secondary">목록으로</a>
					</div>
                </div> <!-- container --> 
            </div>
        </div>
        <!-- board End -->

		<th:block th:replace="common/footer :: footerFragment"></th:block>

		<!-- Back to Top -->
		<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

		<!-- Template Javascript -->
		<script src="/js/board/edit.js"></script>
    </body>
	
</html>