<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TeamPJ - Login</title>

    <link href="css/login.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="/common/common"></th:block>
</head>

<body>
    <div class="form signup">
        <div class="form-header" id="loginHeader">
            <div class="show-signup header-item">Sign Up</div>
            <div class="show-signin header-item">Sign In</div>
            <div class="show-reset header-item">Reset</div>
        </div>
        <div class="arrow"></div>
        <form id="loginForm">
            <div class="form-elements">
                <div class="form-element">
                    <input type="text" id="userId" name="userId" placeholder="User ID">
                </div>
                <div class="form-element">
                    <input type="password" id="userPassword" name="userPassword" placeholder="User Password">
                </div>
                <div class="form-element">
                    <button type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="js/login.js"></script>
</html>